-#.row
-#  .col-xs-12
-#    .content_wrapper
-#      %h4 MOST POPULAR
-#    #myCarousel.carousel.slide{"data-ride" => "carousel", "data-interval" => "false"}
-#      .carousel-inner{:role => "listbox"}
-#        .item.active
-#          .big_thumbnail
-#            %a.thumbnail{:href => "#x"}
-#              %img.img-thumbnail.img-responsive{:alt => "Image", :src => ""}
-#              .carousel-caption
-#                %h6 Title or Name
-#                %p Description
-#          - 4.times do
-#            .couple_thumbnail
-#              - 2.times do
-#                %a.thumbnail{:href => "#x"}
-#                  %img.img-thumbnail.img-responsive{:alt => "Image", :src => ""}
-#                  .carousel-caption
-#                    %h6 Title or Name
-#                    %p Description
-#
-#      %a.left.carousel-control.hide{"data-slide" => "prev", :href => "#myCarousel"} ‹
-#      %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"} ›

.row
  .col-xs-12
    .content_wrapper
      %h4 MOST POPULAR
    #myCarousel.carousel.slide{"data-ride" => "carousel", "data-interval" => "false"}
      .carousel-inner{:role => "listbox"}
        .item.active
          .big_thumbnail
            %a.thumbnail{:href => "#x"}
              %img.img-thumbnail.img-responsive{:alt => "Image", :src => ""}
              .carousel-caption
                %h6 Title or Name
                %p Description
          - 19.times do
            .couple_thumbnail
              - 2.times do
                %a.thumbnail{:href => "#x"}
                  %img.img-thumbnail.img-responsive{:alt => "Image", :src => ""}
                  .carousel-caption
                    %h6 Title or Name
                    %p Description

      %a.left.carousel-control.hide{"data-slide" => "prev", :href => "#myCarousel"} ‹
      %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"} ›

:css
  .content_wrapper .carousel-inner{
    width: 1440px;
    margin: auto;
  }
  .item.active {
    font-size: 0;
  }


:javascript
  function viewport() {
      var e = window, a = 'inner';
      if (!('innerWidth' in window )) {
          a = 'client';
          e = document.documentElement || document.body;
      }
      return { width : e[ a+'Width' ] , height : e[ a+'Height' ] };
  }
  $(document).ready(function(){

    $(window).on("load resize", function() {
        switch (true) {
            case (viewport().width >= 0 && viewport().width <= 1349):
                //col_length = $(".item.active .couple_thumbnail").length;
                //n = $(".item.active img").length%2 == 0 ? 4 : 2;
                //while (col_length != n) {
                //    $(".item.active .couple_thumbnail:last").remove();
                //    col_length = $(".item.active .couple_thumbnail").length;
                //}
                break;
            case (viewport().width >= 1350 && viewport().width <= 1599):
                //col_length = $(".item.active .couple_thumbnail").length;
                //couple = $($.parseHTML($("#couple").html()));
                //n = $(".item.active img").length%2 == 0 ? 5 : 3;
                //while (col_length != n) {
                //    i = 2;
                //    couple.find("img").each(function() {
                //        $(this).attr('src', images[$.inArray($(".item.active .couple_thumbnail:last").find("img").first().attr('src'), images) + i]);
                //        img_number = $.inArray($(this).attr('src'), images);
                //        $(this).next(".carousel-caption").find("h6").text("Image #" + img_number);
                //        i++;
                //    });
                //    col_length > n ? $(".item.active .couple_thumbnail:last").remove() : $(".item.active").append(couple);
                //    col_length = $(".item.active .couple_thumbnail").length;
                //}
                break;
            case (viewport().width >= 1600):
                //couple = $($.parseHTML($("#couple").html()));
                //col_length = $(".item.active .couple_thumbnail").length;
                //n = $(".item.active img").length%2 == 0 ? 6 : 4;
                //if (col_length < n) {
                //    i = 2;
                //    couple.find("img").each(function() {
                //        $(this).attr('src', images[$.inArray($(".item.active .couple_thumbnail:last").find("img").first().attr('src'), images) + i]);
                //        img_number = $.inArray($(this).attr('src'), images);
                //        $(this).next(".carousel-caption").find("h6").text("Image #" + img_number);
                //        i++;
                //    });
                //    $(".item.active").append(couple);
                //}
                break;
        }
    });

    for (i = 0; i < $(".item.active img").length; i++) {
        img = $(".item.active img").eq(i);
        img.attr('src', images[i]);
        img_number = $.inArray(img.attr('src'), images);
        img.next(".carousel-caption").find("h6").text("Image #" + img_number)
    }

    var left_arrow = $(".left.carousel-control"),
        right_arrow = $(".right.carousel-control"),
        item = '',
        n = '',
        m = '';

    right_arrow.click(function(){
      left_arrow.removeClass("hide");
      item = $(".item.active");
      item.width($(".couple_thumbnail").width()*$(".couple_thumbnail").length + $(".big_thumbnail").width());

      //if (item.is(":animated")) {
      //  return;
      //}

      n = $(".couple_thumbnail").outerWidth(true)*6;
      if ( item.outerWidth(true) + item.position().left - n > $(".carousel-inner").innerWidth()) {
          item.animate({
              "left":  "-="+n+"px"
          },50);
      }
      else if ( item.outerWidth(true) + item.position().left > $(".carousel-inner").innerWidth()) {
        m = item.outerWidth(true) + item.position().left - $(".carousel-inner").innerWidth();
        item.animate({
            "left": "-="+m+"px"
        },50);
        right_arrow.addClass("hide");
      }

    });

    left_arrow.click(function(){
        item = $(".item.active");
        n = $(".couple_thumbnail").outerWidth(true)*6;

        //if (item.is(":animated")) {
        //  return;
        //}

        if (item.position().left < 0 && Math.abs(item.position().left) >= n) {
            item.animate({
                "left": "+="+n+"px"
            }, 50);
        }

        else if (Math.abs(item.position().left) < n) {
            item.animate({
                "left": "0"
            }, 50);
            left_arrow.addClass("hide");
        };
        right_arrow.removeClass("hide");
    });
  })

-#:javascript
-#  function viewport() {
-#      var e = window, a = 'inner';
-#      if (!('innerWidth' in window )) {
-#          a = 'client';
-#          e = document.documentElement || document.body;
-#      }
-#      return { width : e[ a+'Width' ] , height : e[ a+'Height' ] };
-#  }
-#
-#  $(function(){
-#
-#      var col_length = "",
-#          couple = "",
-#          slide = "",
-#          img_number = "",
-#          img = "",
-#          img_num = "",
-#          n = "",
-#          i = "",
-#          left_arrow = $(".left.carousel-control"),
-#          right_arrow = $(".right.carousel-control"),
-#          couple_thumbnails_width = $(".couple_thumbnail").outerWidth()*$(".couple_thumbnail").length,
-#          big_thumbnail_width = $(".big_thumbnail").outerWidth(),
-#          item_width = $(".item.active").outerWidth(couple_thumbnails_width + big_thumbnail_width),
-#          item = $(".item.active");
-#
-#      $(window).on("load resize", function() {
-#          switch (true) {
-#              case (viewport().width >= 0 && viewport().width <= 1349):
-#                  //col_length = $(".item.active .couple_thumbnail").length;
-#                  //n = $(".item.active img").length%2 == 0 ? 4 : 2;
-#                  //while (col_length != n) {
-#                  //    $(".item.active .couple_thumbnail:last").remove();
-#                  //    col_length = $(".item.active .couple_thumbnail").length;
-#                  //}
-#                  break;
-#              case (viewport().width >= 1350 && viewport().width <= 1599):
-#                  //col_length = $(".item.active .couple_thumbnail").length;
-#                  //couple = $($.parseHTML($("#couple").html()));
-#                  //n = $(".item.active img").length%2 == 0 ? 5 : 3;
-#                  //while (col_length != n) {
-#                  //    i = 2;
-#                  //    couple.find("img").each(function() {
-#                  //        $(this).attr('src', images[$.inArray($(".item.active .couple_thumbnail:last").find("img").first().attr('src'), images) + i]);
-#                  //        img_number = $.inArray($(this).attr('src'), images);
-#                  //        $(this).next(".carousel-caption").find("h6").text("Image #" + img_number);
-#                  //        i++;
-#                  //    });
-#                  //    col_length > n ? $(".item.active .couple_thumbnail:last").remove() : $(".item.active").append(couple);
-#                  //    col_length = $(".item.active .couple_thumbnail").length;
-#                  //}
-#                  break;
-#              case (viewport().width >= 1600):
-#                  //couple = $($.parseHTML($("#couple").html()));
-#                  //col_length = $(".item.active .couple_thumbnail").length;
-#                  //n = $(".item.active img").length%2 == 0 ? 6 : 4;
-#                  //if (col_length < n) {
-#                  //    i = 2;
-#                  //    couple.find("img").each(function() {
-#                  //        $(this).attr('src', images[$.inArray($(".item.active .couple_thumbnail:last").find("img").first().attr('src'), images) + i]);
-#                  //        img_number = $.inArray($(this).attr('src'), images);
-#                  //        $(this).next(".carousel-caption").find("h6").text("Image #" + img_number);
-#                  //        i++;
-#                  //    });
-#                  //    $(".item.active").append(couple);
-#                  //}
-#                  break;
-#          }
-#      });
-#
-#
-#
-#      for (i = 0; i < $(".item.active img").length; i++) {
-#          img = $(".item.active img").eq(i);
-#          img.attr('src', images[i]);
-#          img_number = $.inArray(img.attr('src'), images);
-#          img.next(".carousel-caption").find("h6").text("Image #" + img_number)
-#      }
-#
-#      right_arrow.click(function(){
-#
-#          couple = $($.parseHTML($("#couple").html()));
-#
-#          var couple_count = $(".item.active .couple_thumbnail").length;
-#
-#          i = 1;
-#          couple.find("img").each(function() {
-#              $(this).attr('src', images[$.inArray($(".item.active .couple_thumbnail:last").find("img").last().attr('src'), images) + i]);
-#              img_number = $.inArray($(this).attr('src'), images);
-#              $(this).next(".carousel-caption").find("h6").text("Image #" + img_number);
-#              i++;
-#          });
-#          item.append(couple);
-#          //item.find(".couple_thumbnail").first().remove();
-#
-#
-#          if (item.is(":animated")) {
-#              return;
-#          }
-#
-#          if ( item.outerWidth(true) + item.position().left - 178 > $(".carousel-inner").innerWidth()) {
-#              thumbnails.animate({
-#                  "left": "-=534px"
-#              },500);
-#          }
-#      });
-#
-#
-#      left_arrow.click(function(){
-#          var thumbnails = $("#thumbnails");
-#
-#          if (thumbnails.is(":animated")) {
-#              return;
-#          }
-#
-#          if (thumbnails.position().left < 0) {
-#              thumbnails.animate({
-#                  "left": "+=534px"
-#              },500);
-#          }
-#      });
-#
-#      //right_arrow.click(function() {
-#      //
-#      //
-#      //    slide = $($.parseHTML($("#slide").html()));
-#      //    col_length = $(".item.active .couple_thumbnail").length;
-#      //    n = $.inArray($(".item.active img:first").attr('src'), images) == 0 ? col_length + 2 : col_length;
-#      //    while (slide.find(".couple_thumbnail").length != n) {
-#      //        slide.find(".couple_thumbnail:last").remove();
-#      //    }
-#      //    var img_last_num = $.inArray($(".item.active img:last").attr('src'), images);
-#      //    var img_first = 1;
-#      //
-#      //    for (i = 0; i < slide.find("img").length; i++) {
-#      //        img = slide.find("img").eq(i);
-#      //        img_num = i+img_last_num + 1 < images.length ? i+img_last_num+1 : img_first;
-#      //        img.attr('src', images[img_num]);
-#      //        img_number = $.inArray(img.attr('src'), images);
-#      //        img.next(".carousel-caption").find("h6").text("Image #" + img_number);
-#      //        img_num == img_first ? img_first++ : '';
-#      //        if (img_last_num + i + 1 > images.length) {
-#      //            right_arrow.addClass("hide");
-#      //        }
-#      //    }
-#      //
-#      //    $(".carousel-inner").append(slide);
-#      //
-#      //    $('#myCarousel').on('slid.bs.carousel', function () {
-#      //        left_arrow.removeClass("hide");
-#      //        $(".item.active").prev().remove();
-#      //    });
-#      //    if (img_last_num + $(".item.active img").length + 1 > images.length) {
-#      //        right_arrow.addClass("hide");
-#      //    }
-#      //});
-#
-#      //left_arrow.click(function() {
-#      //
-#      //    slide = $($.parseHTML($("#slide").html()));
-#      //    col_length = $(".item.active .couple_thumbnail").length;
-#      //
-#      //    var big_thumbnail = $($.parseHTML($("#big_thumbnail").html())),
-#      //        img_first_num = $.inArray($(".item.active img:first").attr('src'), images),
-#      //        loop_length = $(".item.active img").length;
-#      //
-#      //    while (slide.find(".couple_thumbnail").length != col_length) {
-#      //        slide.find(".couple_thumbnail:last").remove();
-#      //    }
-#      //
-#      //    right_arrow.removeClass("hide");
-#      //
-#      //    if (false) {
-#      //
-#      //        var first_slide = slide;
-#      //        first_slide.find(".couple_thumbnail:lt(2)").remove();
-#      //        first_slide.prepend(big_thumbnail);
-#      //
-#      //        first_slide.find(".big_thumbnail img").attr('src', images[0]);
-#      //        first_slide.find(".big_thumbnail img").next(".carousel-caption").find("h6").text("Image #" + 0);
-#      //
-#      //        for (i=0; i < first_slide.find(".couple_thumbnail img").length; i++) {
-#      //            img = first_slide.find(".couple_thumbnail img").eq(i);
-#      //            img_num = img_first_num - loop_length + i + 4;
-#      //            if (img_num == 0) {img_num = images.length - 1}
-#      //            else if (img_num < 0) {img_num = images.length - 1 + img_num}
-#      //            img.attr('src', images[img_num]);
-#      //            img_number = $.inArray(img.attr('src'), images);
-#      //            img.next(".carousel-caption").find("h6").text("Image #" + img_number)
-#      //        }
-#      //
-#      //        $('#myCarousel').on('slid.bs.carousel', function () {
-#      //            left_arrow.addClass("hide");
-#      //        })
-#      //    }
-#      //    else {
-#      //        for (i = 0; i < loop_length; i++) {
-#      //            img = slide.find("img").eq(i);
-#      //            img_num = img_first_num - loop_length + i;
-#      //            if (img_num == 0) {img_num = images.length - 1}
-#      //            else if (img_num < 0) {img_num = images.length - 1 + img_num}
-#      //            img.attr('src', images[img_num]);
-#      //            img_number = $.inArray(img.attr('src'), images);
-#      //            img.next(".carousel-caption").find("h6").text("Image #" + img_number)
-#      //        }
-#      //    }
-#      //    $(".item.active").before(slide);
-#      //    $("#myCarousel").on('slid.bs.carousel', function () {
-#      //        $(".item.active").next().remove();
-#      //    })
-#      //});
-#
-#  });
-#

-##product
-#  %img#bigimage{:alt => "City1", :src => @img_path_array[0], :title => "City1"}/
-#  #thumbnail-wrapper
-#    %a#left.arrow
-#      %img{:src => "collapse-switcher.png"}/
-#    #thumbnails
-#      - 38.times do |i|
-#        %img.thumb{:id => "image" + "#{i}", :alt => "Image" + "#{i}", :src => @img_path_array[i], :title => "Image" + "#{i}"}
-#    %a#right.arrow
-#      %img{:src => "expand-switcher.png"}
-#
-#:css
-#  #product{
-#      float: left;
-#      width: 560px;
-#  }
-#  #rightinfo{
-#  padding-top: 20px;
-#      float: left;
-#      width: 200px;
-#  }
-#  #rightinfo h1{
-#      font-size: 1.5em;
-#  }
-#  .thumb {
-#      float: left;
-#      width: 150px;
-#      display: block;
-#      margin-right: 28px;
-#      cursor: pointer;
-#
-#  }
-#
-#  .clear {
-#      clear: both;
-#  }
-#
-#  #thumbnail-wrapper {
-#      width: 546px;
-#      height: 100px;
-#      overflow: hidden;
-#      margin-bottom: 20px;
-#      position: relative;
-#      left: 7px;
-#  }
-#
-#  #thumbnails {
-#      width: 1066px;
-#      position: absolute;
-#      left: 20px;
-#      /*overflow: hidden;*/
-#  }
-#
-#  #bigimage {
-#       padding: 20px;
-#      width: 560px;
-#      display: block;
-#  }
-#
-#  .arrow {
-#      position: absolute;
-#      z-index: 1;
-#      cursor: pointer;
-#  }
-#
-#  .arrow:hover {
-#      opacity: .8;
-#  }
-#
-#  #left {
-#      left: 0;
-#  }
-#
-#  #right {
-#      left: 525px;
-#  }
-#
-#:javascript
-#  $(document).ready(function(){
-#      $(".thumb").click(function(){
-#          $("#bigimage").attr("src", $(this).attr("src"));
-#          $("#bigimage").attr("title", $(this).attr("title"));
-#          $("#bigimage").attr("alt", $(this).attr("alt"));
-#      });
-#  //move the last item before first item, just in case user click prev button
-#
-#    //  $("#right").click(function(){
-#    //
-#    //      $("#thumbnails").animate({
-#    //          "left": "-=178px"
-#    //
-#    //      },500);
-#    //
-#    //  });
-#    //
-#    //
-#    //$("#left").click(function(){
-#    //
-#    //    $("#thumbnails").animate({
-#    //        "left": "+=178px"
-#    //
-#    //    },500);
-#    //
-#    //});
-#    $("#right").click(function(){
-#        var thumbnails = $("#thumbnails");
-#        thumbnails.width($(".thumb").outerWidth(true)*$(".thumb").length)
-#
-#        if (thumbnails.is(":animated")) {
-#            return;
-#        }
-#
-#        if ( thumbnails.outerWidth(true) + thumbnails.position().left - 178 > $("#thumbnail-wrapper").innerWidth()) {
-#            thumbnails.animate({
-#                "left": "-=534px"
-#            },5000);
-#        }
-#    });
-#
-#
-#    $("#left").click(function(){
-#        var thumbnails = $("#thumbnails");
-#
-#        if (thumbnails.is(":animated")) {
-#            return;
-#        }
-#
-#        if (thumbnails.position().left < 0) {
-#            thumbnails.animate({
-#                "left": "+=534px"
-#            },5000);
-#        }
-#    });
-#  });

%script#slide{:type => "text/html"}
  .item
    - 6.times do
      .couple_thumbnail
        - 2.times do
          %a.thumbnail{:href => "#x"}
            %img.img-thumbnail.img-responsive{:alt => "Image", :src => ""}
            .carousel-caption
              %h6 Title or Name
              %p Description

%script#couple{:type => "text/html"}
  .couple_thumbnail
    - 2.times do
      %a.thumbnail{:href => "#x"}
        %img.img-thumbnail.img-responsive{:alt => "Image", :src => ""}
        .carousel-caption
          %h6 Title or Name
          %p Description

%script#big_thumbnail{:type => "text/html"}
  .big_thumbnail
    %a.thumbnail{:href => "#x"}
      %img.img-thumbnail.img-responsive{:alt => "Image", :src => ""}
      .carousel-caption
        %h6 Title or Name
        %p Description

:javascript
  var images = #{@img_path_array}